@(id: Int, segmento: Segmento, nomenclatura: Nomenclatura, calzadas : List[Calzada], bordillos: List[Bordillo])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Malla vial - Detalles</title>
    </head>
    <body>
        <div class="container">
            <div class="row" style="padding: 20px 0;">
                <div class="col-12">
                    <h1>Detalles del segmento @id</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card bg-light mb-6">
                        <div class="card-header"><b>Información general</b></div>
                        <div class="card-body">
                            <p class="card-text"><b>Longitud:</b> @segmento.longitud</p>
                            <p class="card-text"><b>Tipo de vía:</b> @segmento.tipo_via</p>
                            <p class="card-text"><b>Estrato:</b> @segmento.estrato</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card bg-light mb-6">
                        <div class="card-header"><b>Nomenclatura</b></div>
                        <div class="card-body">
                            <p class="card-text"><b>Vía generadora:</b> @nomenclatura.via_generadora @nomenclatura.n_via_gen</p>
                            <p class="card-text"><b>Cruce desde:</b> @nomenclatura.cruce_desde @nomenclatura.n_cruce_desde</p>
                            <p class="card-text"><b>Cruce hasta:</b> @nomenclatura.cruce_hasta @nomenclatura.n_cruce_hasta</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 80px;"></div>
            <div class="row">
                <div class="col-6">
                    <h1>Calzadas</h1>
                </div>
                <div class="col-6">
                    <h1>Bordillos</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Funcionalidad</th>
                                <th scope="col">Superficie</th>
                                <th scope="col">MDR</th>
                                <th scope="col">OPI</th>
                                <th scope="col">IRI</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(calzada <- calzadas) {
                                <tr>
                                    <th scope="row">@calzada.id</th>
                                    <td>@calzada.funcionalidad.funcionalidad</td>
                                    <td>@calzada.superficie.superficie</td>
                                    <td>@calzada.mdr</td>
                                    <td>@calzada.opi</td>
                                    <td>@calzada.iri</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Longitud</th>
                                <th scope="col">Orden</th>
                                <th scope="col">Indice condición</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(bordillo <- bordillos) {
                                <tr>
                                    <th scope="row">@bordillo.id</th>
                                    <td>@bordillo.estado.estado</td>
                                    <td>@bordillo.longitud</td>
                                    <td>@bordillo.orden</td>
                                    <td>@bordillo.indice_condicion</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>