@(segmentos: List[Segmento])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Malla vial - Segmentos</title>
    </head>
    <body>
        <div class="container">
            <div class="row" style="padding: 20px 0;">
                <div class="col-12">
                    <h1>Segmentos</h1>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Longitud</th>
                        <th scope="col">Tipo de vía</th>
                        <th scope="col">Estrato</th>
                        <th scope="col">Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    @for(segmento <- segmentos){
                    <tr>
                        <th scope="row">@segmento.id</th>
                        <td>@segmento.longitud</td>
                        <td>@segmento.tipo_via</td>
                        <td>@segmento.estrato</td>
                    <td>
                        <a href="/detalle?id=@segmento.id" class="btn btn-info" role="button">Ver más</a>
                    </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>